<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>nfc</mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="onHomeClick()">
    <span>TextError Technology</span>
  </button>
  <span class="example-spacer"></span>
  <app-menu></app-menu>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>http</mat-icon>
  </button>
</mat-toolbar>