<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="weather()">
      <mat-icon>beach_access</mat-icon>
      <span>Weather Info</span>
    </button>
    <button mat-menu-item (click)="webcamOpen()">
      <mat-icon>camera</mat-icon>
      <span>Webcam</span>
    </button>
    <button mat-menu-item (click)="contactUs()">
      <mat-icon>redeem</mat-icon>
      <span>Contact Us</span>
    </button>
  </mat-menu>
  